[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	editor = vim
	pager = diff-so-fancy | less --tabs=2 -RFX

[interactive]
  diffFilter = diff-highlight

[alias]
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"

# so much color
[color]
  ui = true
  branch = always
  diff = always
  grep = always
  pager = true
  showbranch = always
  status = always
  ui = always

[color "branch"]
  current = "white blue bold"
  local = "white bold"
  plain = "white"
  remote  = "blue bold"

[color "decorate"]
  branch = "blue bold"
  HEAD = "white bold ul"
  remoteBranch = "blue"
  stash = "yellow"
  tag = "cyan bold"

[color "diff"]
  commit = "blue bold"
  frag = "blue bold"
  func = "white"
  meta = "cyan"
  new = "green"
  old = "red"
  plain = "white"
  whitespace = "white reverse"

[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "white red bold"
  newNormal = "green bold"
  newHighlight = "white green bold"

[color "grep"]
  context = "white"
  filename = "white dim ul"
  function = "white"
  linenumber = "white dim bold"
  match = "blue bold"
  selected = "white"
  separator = "white dim"

[color "interactive"]
  error = "red bold"
  header = "blue bold"
  help = "white dim"
  prompt = "cyan"

[color "status"]
  added = "green bold"
  changed = "yellow bold"
  header = "white ul"
  nobranch = "magenta bold ul"
  unmerged = "blue ul"
  untracked = "red bold"
updated = "cyan bold"

# git mergetool
[merge]
	tool = opendiff

# rewrites of repo paths
[url "git@github.com:"]
	insteadOf = "https://github.com/"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
	
[url "git://gist.github.com/"]
	insteadOf = "gist:"

# correct typos
[help]
	autocorrect = 1

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
	default = simple

# use separate file for username / github token / etc
#[include]
# path = ~/.gitconfig.local

#[init]
#	templatedir = ~/.git_template

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[fetch]
	prune = true
[diff]
	compactionHeuristic = true
[user]
	name = Peter Piekarczyk
	email = peterpiekarczyk@gmail.com
[github]
	user = peterpme
