[submodule "prezto"]
	path = prezto
	url = git@github.com:peterpme/prezto.git
[submodule "config/base16-shell"]
	path = config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "hosts"]
	path = hosts
	url = git@github.com:StevenBlack/hosts.git
